th.column-kodex_posts_likes,
td.kodex_posts_likes,
th.column-kodex_posts_dislikes,
td.kodex_posts_dislikes {
  width: 4em;
  padding: 8px 0;
  text-align: left; }

th.column-kodex_posts_likes a,
th.column-kodex_posts_dislikes a {
  padding: 8px 0; }

th.column-kodex_posts_likes span:before,
th.column-kodex_posts_dislikes span:before {
  color: #444; }

td.kodex_posts_likes b,
td.kodex_posts_dislikes b {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding: 0 8px;
  min-width: 24px;
  height: 2em;
  border-radius: 5px;
  background-color: #72777c;
  color: #fff;
  font-size: 11px;
  line-height: 21px;
  text-align: center;
  margin-top: 5px; }

#kodex-posts-likes .hndle a.kodex_settings {
  color: #aaa;
  font-size: 16px;
  line-height: 20px;
  padding: 0 2px;
  float: right;
  position: relative;
  display: none; }

#kodex-posts-likes .hndle:hover a.kodex_settings,
#kodex-posts-likes .hndle.hover a.kodex_settings {
  display: block; }

#kodex-posts-likes .hndle a.kodex_settings:hover {
  color: #777; }

#kodex_posts_likes_sidebar {
  float: right;
  width: 260px;
  margin-top: 10px; }

#kodex_posts_likes_form {
  margin-right: 280px;
  margin-top: 10px; }

#kodex_posts_likes_form .widefat {
  clear: none; }

#kodex_posts_likes_doc {
  margin-right: 280px;
  margin-top: 10px; }

#kodex_posts_likes_doc p {
  margin-bottom: 0.25em; }

#kodex_likes_dashboard .hndle em {
  font-style: normal; }
#kodex_likes_dashboard .hndle a.kodex_dashboard_settings {
  color: #aaa;
  font-size: 16px;
  line-height: 20px;
  padding: 0 2px;
  float: right;
  position: relative;
  display: block;
  text-decoration: none; }
  #kodex_likes_dashboard .hndle a.kodex_dashboard_settings:hover {
    color: #777; }
#kodex_likes_dashboard .inside {
  margin: 0;
  padding: 0; }
  #kodex_likes_dashboard .inside form {
    text-align: center;
    font-size: 14px;
    padding: 10px 0;
    display: none; }
    #kodex_likes_dashboard .inside form label input {
      width: 55px; }
  #kodex_likes_dashboard .inside table {
    border: none; }
    #kodex_likes_dashboard .inside table thead tr th.count {
      width: 3em; }
    #kodex_likes_dashboard .inside table thead tr.hidden {
      display: none; }
  #kodex_likes_dashboard .inside p {
    padding: 0 10px 8px; }
  #kodex_likes_dashboard .inside #kodex_dashboard_more {
    text-align: center; }
